---
// Markdown pages set content, JS pages may export a title variable
const {content, title, pageTitle} = Astro.props;
const htmlTitle = content?.title || title;
let bodyTitle = content?.pageTitle || pageTitle;
if (bodyTitle===undefined) {
  bodyTitle = htmlTitle;
} else if ([false, null, ''].includes(bodyTitle)) {
  bodyTitle = false;
}
// const baseUrl = import.meta.env.NODE_ENV==='production' ? Astro.site.pathname : "/";

---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{htmlTitle}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/fetch">Fetch</a>
        <a href="/foo">Unfound</a>
      </nav>
    </header>
    <main>
      {bodyTitle ? <h1>{bodyTitle}</h1> : null}
      <slot />
    </main>
  </body>
</html>

<style>
  nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    padding: .5rem 2rem;
    width: 100%;
  }
  nav a {
    margin: .5rem .75rem;
  }
  nav a:hover {
    background: black;
    color: white;
  }
</style>
